.heading{
    background-color: #FFCD4B;
    color: white;
    padding: 5px;
}
body{
    background-color: #eee;
}
html {
    font-family:serif
}
.notes {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 20%;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    color: #ccc;
}